---
layout: default
title: Line Of Thought Blog
---

<div id="home">
  <articles>
    {% for post in paginator.posts %}
      <article>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="content">
          {{ post.content }}
        </div>
        <span class="date">Posted on {{ post.date | date: "%B %d, %Y" }}</span>
        <span><a href="{{ post.url }}#comments">Comments</a></span>
      </article>
    {% endfor %}
  </articles>
  
  <!-- Pagination links 
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
    {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}" class="next ">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>-->
</div>
